.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: white;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: #4F4F4F;
}

.desktopMenuListItem:hover {
    color: #FA996C;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #FA996C;
    transition: border-bottom 0.1s ease, color 0.4s ease;

}

.desktopbutton {
    background: white;
    color: #4F4F4F;
    border: 2px solid #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: color 0.4s ease, border-color 0.4s ease;
}

.desktopbutton:hover {
    color: #FA996C;
    border-color: #FA996C;
}
